
.colorHex {
  width: 100%;
  height: 100%;

  border-radius: 7px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fcfcfc;
  margin: 1rem;
  background: rgba(#000000, 0.15);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  span {
    padding: 0 0.75rem;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 470px) {
  .icons {
    margin: .5rem .25rem;

    span {
      margin: 1rem 0;
    }
  }

}

.deleteIcon {
  &:hover {
    color: #f34;
  }
}

.copyIcon {
  position: relative;
  &:hover {
    color: #7d4;
  }
}

.revealIcon {
  &:hover {
    color: #27d;
  }
}

.hexValue {
  background: rgba(#000000, 0.25);
  padding: .2rem 0.4rem;
  border: 1px rgba(#fcfcfc, 0.6) solid;
  border-radius: 3px;
  color: #fbfbfb;
  margin: .4rem;

  font-size: 1.2rem;
  text-align: center;
  width: 6.5rem;
}

@keyframes popIn {
  0% {
    transfrom: scale(.3);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}