.btn {
  width: 100%;
  font-size: 1rem;
  border: 1px solid #505050;

  padding: .5rem;  
  border-radius: 7px;
  background: none;
  color: #ff9633;
  border-color: #ff9633;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;

  &:hover {
    opacity: .8;
    cursor: pointer;
    background: #ff9633;
    color: #fcfcfc;
  }

  &:active {
    transform: translateY(3%) scale(0.97);
  }
}
.singleInput {
  border-radius: 0 7px 7px 0;
  border-color: #00a850;
  background: #00a850;
  color: #fcfcfc;
}

.popin {
  -webkit-animation: pop-in .2s ease-in-out;
          animation: pop-in .2s ease-in-out;
}

@media screen and (max-width: 725px) {
  .btn {
    font-size: .8rem;
  }
}

@media screen and (max-width: 615px) {
  .btn {
    position: relative;
    &::after {
      content: "+";
      position: absolute;

      font-size: 1.6rem;
      width: 95%;
      height: 95%;

      top: 50%;
      left: 50%;
      background-color: #00a850;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);

      display: -webkit-box;

      display: -ms-flexbox;

      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }
}

@-webkit-keyframes pop-in {
  0% {
    -webkit-transform: scale(.4);
            transform: scale(.4);
    opacity: 0;
  }

  70%{
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes pop-in {
  0% {
    -webkit-transform: scale(.4);
            transform: scale(.4);
    opacity: 0;
  }

  70%{
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}