.tooltip {
  display: block;
  padding: .4rem;
  background: #ececec;
  color: #505050;
  position: absolute;
  animation: fade-in .2s ease-in;
  font-size: .8rem;
  border-radius: 5px;
}

.top {
  top: -180%;
  left: 20%;
  transform: translateX(-50%);
}

.bottom {
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);

}

.left {
  top: 50%;
  left: -10%;
  transform: translateY(-50%);
}

.right {
  top: 50%;
  right: -10%;
  transform: translateY(-50%);
  
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}