.app {
  text-align: center;
  
  
  width: 100vw;
  height: 95vh;
  margin-top: 5vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.box {
  width: 80%;
}